In [6]:
import numpy as np

## NumPy Task 1
a = np.array([[1, 6], [2, 8], [3, 11], [3, 10], [1, 7]])

mean_a = a.mean(axis=0)

print (mean_a)

[2.  8.4]

In [7]:
## NumPy Task 2

a_centered = a - mean_a

print (a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

In [15]:
## NumPy Task 3

a_centered_sp = np.dot(a_centered[:,0], a_centered[:,1])

print (a_centered_sp)

print (a_centered_sp / (a_centered[:,0].size - 1))

8.0
2.0

In [16]:
## NumPy Task 4
print ('Stub')

Stub

In [3]:
## Pandas Task 1

import pandas as pd

authors = pd.DataFrame({
    "author_id" : [1, 2, 3],
    "author_name" : ['Тургенев', 'Чехов', 'Островский']
})

books = pd.DataFrame ({
    "author_id" : [1, 1, 1, 2, 2, 3, 3],
    "book_title" : ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
    "price" : [450, 300, 350, 500, 450, 370, 290]
})

In [4]:
## Pandas Task 2

authors_price = pd.merge(authors, books, on='author_id', how='inner')

print (authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [1]:
## Pandas Task 3

In [7]:
top5 = authors_price.sort_values('price', ascending=False).head(5)

print (top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [43]:
## Pandas Task 4
## author_name, min_price, max_price и mean_price,

ap_g = authors_price.groupby("author_name")

authors_stat = ap_g.agg({"price": ['min', 'max', 'mean']})
authors_stat.rename(columns={'author_name': 'author_name', 'min': 'min_price', 'max': 'max_price', 'mean': 'mean_price'}, inplace=True)
print (authors_stat)

                price
            min_price max_price  mean_price
author_name
Островский        290       370  330.000000
Тургенев          300       450  366.666667
Чехов             450       500  475.000000